@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.fire {
  background-color: #F08030;
}

.poison {
  background-color: #A040A0;
}

.grass {
  background-color: #78C850;
}

.flying {
  background-color: #A890F0;
}

.water {
  background-color: #6890F0;
}

.bug {
  background-color: #A8B820;
}

.normal {
  background-color: #A8A878;
}

.electric {
  background-color: #F8D030;
}

.ground {
  background-color: #E0C068;
}

.fairy {
  background-color: #EE99AC;
}

.fighting {
  background-color: #C03028;
}

.psychic {
  background-color: #F85888;
}

.steel {
  background-color: #B8B8D0;
}

.ice {
  background-color: #98D8D8;
}

.rock {
  background-color: #B8A038;
}

.ghost {
  background-color: #705898;
}

.dragon {
  background-color: #7038F8;
}

.dark {
  background-color: #705848;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #eb3349, #f45c43);
}

.container {
  width: 100%;
  height: 100%;
}

.container > h1 {
  font-family: 'Fira code';
  font-weight: 300;
  color: #FFFFFF;
  padding: 10px 20px;
}

.cards {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 250px;
  min-width: 250px;
  height: 400px;
  background-color: #FFFFFF;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #FFFFFF;
  border-radius: 10px;
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.font {
  font-family: 'Fira code';
  font-weight: 300;
}

.card-img {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
}

.card-img img {
  width: 200px;
  height: 200px;
}

.card-types {
  width: 100%;
  height: 50px;
  max-height: 50px;
}

.type {
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 3px 2px;
}

@media(max-device-width: 1024px) {
  .container {
    text-align: center;
  }

  .cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .card {
    width: 250px;
    min-width: 250px;
    height: 400px;
    max-height: 400px;
    margin: 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    max-height: 50px;
  }
  
  .card-img {
    width: 250px;
    height: 300px;
  }
  
  .card-types {
    width: 100%;
    height: 50px;
    max-height: 50px;
  }
}
